.home {
    /* Otros estilos para tu componente principal */
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Otros estilos para el contenedor de la imagen, si es necesario */
  }
  
  .image-container img {
    /* Otros estilos para la imagen, si es necesario */
  }
  
  .prueba {
    margin-top: 15px;
    text-align : left;
    margin-left: 370px;
  }
  
  /* .textodoc {
    text-align: center;

  } */
  